h1{
  font-family:monospace;
  text-align:center;
}
h2{
  font-family:monospace;
  color: purple;
  text-align:center;
}
table{
  font-family:Arial
    
}

thead{
  background-color:Orchid;
  text-align:center;
}

.monospace {
  font-family: Lucida Console, Courier, monospace;
}

